/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 3
   
   Civil War History Style Sheet
   Author: Samuel Harris
   Date:   9/13/19
   
   Filename: cw_styles.css

*/
@charset "utf-8";
@import "cw_layout.css";

/* Structural Styles */
html{
   background-color:rgb(151,151,151);
}
Body{
   background-color:rgb(180,180,223);
   font-family:Verdana,Geneva,sans-serif;
}
h1, h2{
   font-weight:normal;
}
nav a{
   text-decoration:none
}
footer{
   color:white;
   background-color:rgb(101,101,101);
   font-size:0.8em;
   padding-top:1px;
   padding-bottom:1px;
   text-align:center;
}

/* Body Header Styles */
body>header{
   background-color:rgb(97,97,211)
}
body>header>h1{
   background-color:rgba(255,255,255,0.8);
   font-size: 4vw;
   font-family: Limelight,cursive;
   margin:0px;
}


/* Navigation Styles */




/* Outline Styles */




/* Section Styles */




/* Article Styles */




/* Aside Styles */

